<div [(grid)]="gridConfig" (onDragEnd)="processDragEnd()">
    <div [gridRow]="rowConfig.row" *ngFor="let rowConfig of gridConfig" (onResizeEnd)="processResizeEnd($event)" (onEmptyClick)="processEmptyClick($event)" class="grid-row-wrapper noselect">
        <div [gridCell]="cellConf.cell" *ngFor="let cellConf of rowConfig.cells" (onResizing)="processResize($event)" class="grid-cell-wrapper">
            <div class="grid-cell-drag-handle"></div>
            <span class="grid-cell-resize-handle"></span>
        </div>
    </div>
</div>